* {
    box-sizing: border-box;
    transition: all .1s ease-in;
    line-height: 1;
}

main {
    border: 25px solid #2B81AC;
    background-color: #3399CC;
    min-height: 100vh;
    padding: 60px 0 100px;
}

.container {
    max-width: 1170px;
    max-height: 592px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container .title {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.title h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 21px;
    color: #fff;
    line-height: 25px;
}

.container .cities {
    max-width: 1170px;
    height: 592px;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 37px;
}

.cities:hover li {
    opacity: 0.5;
}

li:hover {
    opacity: 1 !important;
    cursor: url('../img/cursor-icon.svg'), pointer;
}

.first-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 147px;
    border: 2px solid #FFFFFF;
}

.second-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 147px;
    border: 2px solid #FFFFFF;
}

.third-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 147px;
    border: 2px solid #FFFFFF;
}

.lisbon {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #3399CC;
    padding: 10px;
}
.paris {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #33CCCC;
    padding: 10px;
}
.belgrade {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #996699;
    padding: 10px;
}
.venice {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #C24747;
    padding: 10px;
}
.tel-avive {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #E2674A;
    padding: 10px;
}
.cair {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #FFCC66;
    padding: 10px;
}
.new-york {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #99CC99;
    padding: 10px;
}
.new-delhi {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #669999;
    padding: 10px;
}
.san-francisco {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #CC6699;
    padding: 10px;
}
.tokyo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #339966;
    padding: 10px;
}
.sidney {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #666699;
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #fff;
    padding: 10px;
}
.info h3 {
    margin-bottom: 15px;
    text-align: center;
}
.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #fff; 
}

.title .wi-sunrise {
    font-size: 27px;
    margin-left: 4px;
    color: #fff;
}
.wi {
    font-size: 42px;
    margin-left: 11px;
    color: #fff;
}

