* {
    box-sizing: border-box;
    transition: all .1s ease-in;
}
.container {
    position: absolute;
    width: 1440px;
    height: 900px;
    display: flex;
    background-color: #3399CC;
    border: 25px solid #2B81AC;
}
.title {
    margin-top: 60px;
    margin-left: 135px;
    display: flex;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 21px;
    color: #fff;
    line-height: 25px;
}
.cities {
    max-width: 1170px;
    height: 592px;
    margin-top: 129px;
    margin-left: 135px;
    position: absolute;
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0;
}
ul:hover li {
    opacity: 0.5;
}
li:hover {
    opacity: 1 !important;
    cursor: url('/img/cursor.svg'), pointer;
}

.first-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 25%;
    border: 2px solid #FFFFFF;
}
.second-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 25%;
    border: 2px solid #FFFFFF;
}
.third-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    border: 2px solid #FFFFFF;
}
.lisbon {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(144, 213, 235);
}
.paris {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #33CCCC;
}
.belgrade {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #996699;
}
.venice {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #C24747;
}
.tel-avive {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #E2674A;
}
.cair {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #FFCC66;
}
.new-york {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #99CC99;
}
.new-delhi {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #669999;
}
.san-francisco {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #CC6699;
}
.tokyo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #339966;
}
.sidney {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #666699;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #fff;
    margin-top: 26px; 
    margin-bottom: 10px;
}
.info p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #fff;
}
.greeting {
    position: absolute;
    display: flex;
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-left: 137px;
    margin-top: 756px;
}
.title .wi-sunrise {
    font-size: 27px;
    margin-left: 4px;
    color: #fff;
}
.wi {
    font-size: 42px;
    margin-left: 11px;
    color: #fff;
}
